@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "System Role";
}


<div class="card">
    <div class="card-header">
        <div class="mb-3 float-end">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-file-plus-fill"></i> Add New Role</a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                       Role No.
                    </th>
                    <th>
                        Role Name
                    </th>
                    
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item == null)
                    {
                        <tr><td colspan="5" style="color:red;">One item in the list is null</td></tr>
                        continue;
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                       
                        


                        <td>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu">
                                      
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="ApprovedLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i> Approve</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="RejectLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i> Reject</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="UserRights" asp-route-id="@item.Id" asp-controller="Profiles" class="btn btn-secondary"><i class="fa fa-lock"></i> Assign Rights</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>