@using Microsoft.AspNetCore.Identity

@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Sysytem User";
}

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>New User</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Users List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                       National Id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                 

                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     if (item == null)
    {
        <tr><td colspan="5" style="color:red;">One item in the list is null</td></tr>
        continue;
    }
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NationalId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalizedEmail)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    


                        <td>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i>View</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="ApprovedLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i>Approve</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="RejectLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i>Reject</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>